.calendar{
    display: block;
    padding-bottom:40px;
    &__cell{
        border: 1px solid silver;
        width:10%;
        margin:10px 2.1%;
        height: 81px;
        float:left;
        position: relative;
        border-radius: 4px;  
        &:hover{
            background: #eeeeee;
        }
        &_add{
            margin: 0;
            float: left;
            width: 100%;
            font: 400 20px/27px Calibri;
            height: 27px;
            padding: 0 0 7px 41px;
            background: #ddddff;
            cursor:pointer;      
            &:hover{
                background: #bbbbff;
            }
        }
        &_date{
            display: block;
            float: left;
            padding: 4px 7px 3px 4px;
            border: 1px solid #ababab;
            border-right: 0;
            border-top: 0;
            background: rgba(67,120,200,.5);
            margin: 0;
            position: absolute;
        }
        &_doings-qty{
            margin-top: 7px;
            font: 100 37px/37px Calibri;
            text-align: center;
            clear: both;
            float: left;
            width: 100%;
        }
    }
    &__current{
        &_back{
            top: 23px;
            left: 120px;
        }
        &_delete{
            margin-top: -5px;
        }
        &_form{
            padding: 0;
            width:35%;
            &-label{
                min-width: 105px;
            }
            &-select{
                display: inline-block;
                vertical-align: top;
                position: absolute;
                margin-left: 4px;
                border: 1px solid silver;
                width: 152px;
                z-index: 10;
                &-global{
                    &-content{
                        margin: -40px 150px;
                        width: 162px;
                        border: 1px solid silver;
                        z-index: 9;
                        background: #fff;
                    }
                    &-button{
                        font-weight: 600;
                        padding: 10px;
                        cursor:pointer;
                        margin: 0;
                        &:hover{
                            background: #dfdfdf;
                        }
                    }
                }
                &-long{
                    &-content{
                        margin: -27px 170px;
                        font: 400 14px/14px Calibri;
                        width: 150px;
                    }
                    &-button{
                        cursor:pointer;
                        margin: 0;
                        padding: 10px 10px 10px 20px;
                        border-bottom:1px solid transparent;
                        &:hover{
                            border-bottom:1px solid silver;
                        }
                    }
                }
                &-short{
                    &-button{
                        display: inline-block;
                        cursor:pointer;
                        &:hover{
                            border-bottom: 1px solid gray;
                        }
                    }
                }
            }
        }
        &_details{
            padding: 0;
            width:60%;
            margin-left: 5%;
        }
        &_line{
            margin: 5px 0;
        }
        &_doing{
            width:300px;
            padding:5px 10px;
            &_label{
                display: inline-block;
                padding: 6px 14px;
                border: 1px solid silver;
            }
            &_urgent{
                &-false{
                    background-color: rgb(55,200,130);
                }
                &-true{
                    background-color: rgb(170,55,150);
                }
            }
            &_important{
                &-false{
                    background-color: rgb(55,130,200);
                }
                &-true{
                    background-color: rgb(200,50,50);
                }
            }
        }
        &_plantime{
            width:50px;
            padding:5px 10px;
            text-align: center;
        }
        &_add-doing{
            margin: 20px 10px;
        }
    }
    &__month{
        float: left;
        width: 100%;
        max-height: 200px;
        border: 1px solid silver;
        overflow-y: scroll;
        overflow-x: hidden;
        &_weekdays{
            &-each{
                width: 10%;
                margin: 10px 2.1%;
            }
        }
        &-false{
            max-height: none;
        }
        &_block{
            padding-bottom: 20px;
            border-left: 1px solid silver;
        }
        &_edit{
            margin: -40px 210px;
        }
        &_week{
            height: 53px;
            &-inner{
                border: 0px;
                margin: 10px auto;
                display: block;
            }
        }
    }
    &__routine{
        &_label{
            width: 150px;
        }
    }
    &__weeks{
        padding-top: 40px;
        &_block{
            border: 1px solid silver;
            width: 100%;
            overflow-y: scroll;
            margin: 10px 0 16px;
            max-height: 84px;
            min-height: 84px;
            border-radius: 2px;
            &-edit{
                max-height: none;
            }
        }
        &_edit{
            width: 100%;
            background-color: white;
            &-button{
                position: absolute;
                margin-top: -32px;
            }
        }
    }
}

.lifetarget{
    &__longtargets{
        width: 100%;
        &_add{
            display: block;
            margin: 3px auto 10px;
            width: 32px;
            font: 900 25px/30px Calibri;
            padding: 0;
        }
        &_block{
            float: left;
            margin: 10px 10px 0 0;
        }
        &_block-list{
            float: left;
            background: cadetblue;
            padding: 10px;
            width: 19.2%;
            margin: 0 1% 0 0;
            &:nth-child(5n){
                margin-right: 0;
            }
            &-title{
                margin: 0;
                padding: 5px 8px;
                font-weight: 600;
                background: #fff;
                border-radius: 4px;
            }
            &-item{
                margin: 10px 0 0 0;
                background: aliceblue;
                padding: 2px 10px;
                border-radius: 4px;
                cursor:pointer;
            }
        }
        &_input{
            margin: 2px 0 0;
        }
        &_label{
            width: 100%; 
        }
    }
    &__short{
        &_table{
            &-header{
                font-weight: 600;
                text-align: center;
                &-td{
                    padding:30px 10px !important;
                }
            }
        }
        &_block{
            width:60%;
            min-width: 400px;
        }
        &_deadline{
            &-input{
                width: 40px;
                text-align: center;
                margin-right: 6px;
            }
        }
        &_why{
            width:50%;
            min-width:200px;
            height:65px;
        }
        &_save{
            margin-left:10px;
            padding: 6px 24px;
        }
    }
    &__show-plan{
        right:20px;
    }
    &__schema{
        margin: 20px;
        &_global{
            &-block{
                width: 25%;
                padding: 5px;
                transition: all .35s ease-in;
                background: #286090;
            }
            &-button{
                margin: 0;
                padding: 5px;
                background: #fff;
                cursor:pointer;
            }
            &-content{
                width: 100%;
                right: -185px;
                margin-top: -30px;
                overflow: hidden;
                transition: all .35s ease-in;
            }
        } 
        &_long{
            &-block{
                width: 100%;
                padding: 5px 10px;
                right: -100%;
                top: 0;
                overflow: hidden;
                transition: all .35s ease-in;
                z-index: 1000;
            }
            &-button{
                margin: 0;
                padding: 0px;
                font-weight:500;
                background: #fff;
                border-bottom: 1px solid #286090;
                cursor:pointer;
                display: inline-block;
            }
            &-content{
                width: 100%;
                right: -135px;
                margin-top: -25px;
                overflow: hidden;
                transition: all .35s ease-in;
            }
        }
        &_short{
            &-button{
                margin: 5px 10px;
                padding: 0px;
                background: #fff;
                border-bottom: 1px solid #286090;
                cursor:pointer;
                display: inline-block;
            }
        }
    }
    &__show{
        &_globaltargets{
            &-block{
                background-color: #286090;
                width: 24%;
                padding: 10px;
                margin: 10px 1% 0 0;
                display: inline-block;
                vertical-align: top;
                border-radius: 4px;
            }
            &-longtarget{
                margin: 10px 0 0 0;
                padding: 4px 8px;
                background: white;
                border-radius: 2px;
            }
            &-title{
                padding: 5px;
                margin: 0 0 5px 0;
                background: #fff;
                border-radius: 2px;
            }
            &-input{
                border:0px;
                outline:0px;
            }
        }
    }
}

.month-select{
    & .calendar__current{
        &_form{
            &-label{
            }
            &-select{
                &-global{
                    &-content{
                        margin: -40px -162px;
                    }
                    &-button{
                        &:hover{
                        }
                    }
                }
                &-long{
                    &-content{
                        margin: -41px -150px;
                        padding: 10px;
                        background: #fff;
                        border: 1px solid silver;
                    }
                    &-button{
                        &:hover{
                        }
                    }
                }
                &-short{
                    &-button{
                        text-align: right;
                        width: 100%;
                        &:hover{
                        }
                    }
                }
            }
        }
    }
}


current-day{
    margin-top: 20px;
    display: block;
    width:100%;
    float:left;
}
.noborder{
    border:0px;
}

.child {
    position:absolute;
    margin-left:100px;
    width: 100px;
    background-color: red;
    overflow: hidden;
    transition: all 0.35s ease-in;
}
.disabled {
    opacity: 0;
    height: 0;
    transition: all 0.35s ease-in;
}
.activating + div, .activating + recursive{
    opacity: 1;
    height: 150px;
}
