.manage-view-sidebar {
    display: block;
    .list-group-item {
        padding-right: 0;
        cursor: pointer;
        margin-bottom: 2px;
        background-color: none;
        border: none;
    }
    &__add {
        margin-bottom: 10px;
    }
}