.widget{
    border-radius: 4px;
    overflow: auto;
    box-shadow: 6px 6px 7px 3px rgba(0,0,0,.5);
}

.widget-h1{
    background: #FFFFFF;
    color: #2c3e50;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 2px;
    font: 300 20px/40px Calibri;
}
