
//bootstrap overrides
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$font-family-base: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
$border-radius-base: 0;
$border-radius-large: 0;
$btn-font-weight: 100;
$headings-font-weight: 100;
