@import
    'utilities/functions',
    'utilities/mixins',
    'utilities/variables',
    'utilities/colors';
    
@import
    'vendor/gridstack',
    'vendor/timeline',
    'vendor/bootstrap';

@import 
    'base/base',
    'base/typography';

@import
    'components/widget',
    'components/calendar',
    'components/dendrogram';
    
@import
    'layout/header',
    'layout/footer';
    
@import
    'pages/dashboard';
